h1 {
    font-size: 60px;
}

h2 {
    font-size: 50px;
    color: black;
}

h3 {
    font-size: 30px;
    color: black;
}

p {
    text-align: justify;
}

.button {
    
    color: blue;
    text-align: center;
}

.intressen {
    background-color: lightblue;
    text-align: center;
    padding: 2rem;
}

.meny {
    height: 170px;
    text-align: center;
    margin: auto;
}

.flexbox-img {
    margin-right: 3rem;

}

.flexbox-text {
    width: 200px;
    text-align: left;
}

.flexbox-container {
    padding: 4rem;
    display: flex;
    justify-content: center;
    background-color: lightblue;
}

.flexbox-item {
    flex: 1;
    margin-right: 20px;
}

.flexbox-container2 {
    display: flex;
    text-align: center
}

.knappar {
    justify-content: center;
    display: flex;
    margin-top: 30px;
}

.knapp {
    flex: 1;
}

#menu li:hover ul {
    display: block;

}

#menu ul ul {
    display: none;
}

#menu li:hover {
    color: white;
    cursor: pointer;
}

#menu h2 {
    color: lightblue;
}

#menu {
    background-color: cornflowerblue;
    padding: 2rem;
    font-size: 25px;
    color: lightblue;
    text-align: center;
}