h1 {
    font-size: 60px;
}

h2 {
    font-size: 50px;
    color: black;
}

h3 {
    font-size: 30px;
    color: black;
}

fieldset,input,textarea{
    border: 1px solid black;  
}


input,textarea{
    background-color:white

}
table,th,td {
    padding: 1rem;
    color:  black solid;
    background-color:#638C99;
    border: 2px solid black;
}
p {
    text-align: justify;
}

.active {
    color: white;
       
}
.button {
    
    color: blue;
    text-align: center;
}

.intressen {
    background-color: lightblue;
    text-align: center;
    padding: 2rem;
    justify-content: center;
}
.table-item{
    padding: 5rem;
    flex: 1;
    display: block;
    
}
.historiska-datum{
    padding-bottom: 5rem;
    flex:1;
}
.klimat{
    flex: 1;
}
.article-item{
    padding-top: 5rem;
    flex: 1;
}
.meny {
    height: 170px;
    text-align: center;
    margin: auto;
}

.flexbox-img {
    margin-right: 3rem;

}
.flexbox-text {
    width: 200px;
    text-align: left;
}

.flexbox-container {
    padding: 4rem;
    display: flex;
    justify-content: center;
    background-color: lightblue;
}
.article-container p{
    
    margin-bottom: 50px;
}
.article-container{
    display: flex;
    background-color: lightblue
}
.article-container h4{
    font-size: 25px;
    color: black;
    font-style: italic;
}
.historia{
    margin-left: 3rem;
    margin-right: 3rem;
    display: flex ;
}
.flexbox-item {    
    margin-right: 20px;
    flex: 1;
    
}

.flexbox-container2 {
    padding: 1rem;
    justify-content: center;
    margin-top: 30px;
    display: flex;
    text-align: center
}
.landskap{
    background-color: lightblue;
    text-align: center;
    padding: 4rem;
}
.knappar {
    justify-content: center;
    display: flex;
    margin-top: 30px;
}

.knapp {
    flex: 1;
}

.menu li:hover ul {
    display: block;
}

.menu ul ul {
    display: none;
}
.menu li ul :hover {   
    cursor: pointer;
    color: white
}
.menu h2 {
    color: lightblue;
}

.menu {
    background-color: cornflowerblue;
    padding: 2rem;
    font-size: 25px;
    color: lightblue;
    text-align: center;
}